<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>客户</title>
</head>
<style lang="scss">
    ::-webkit-scrollbar {
        width: 0 !important;
        height: 0;
    }
</style>
<body>
<div id="app">
    <el-menu
            class="el-menu-demo"
            mode="horizontal"
            @select="handleSelect"
            background-color="#545c64"
            text-color="#fff"
            active-text-color="#ffd04b">
        <el-row>
            <el-col :span="2">
                <el-menu-item index="1" @click="toHomepage">首页</el-menu-item>
            </el-col>
            <el-col :span="2" :offset="20">
                <el-menu-item index="3" th:text="${session.user.userName}"></el-menu-item>
            </el-col>
        </el-row>
    </el-menu>
    <el-container>
        <el-aside width="250px">
            <el-menu
                    default-active="1-4"
                    class="el-menu-vertical-demo"
                    background-color="#545c64"
                    text-color="#fff"
                    active-text-color="#ffd04b">
                <el-submenu index="1">
                    <template slot="title">
                        <i class="el-icon-s-tools"></i>
                        <span>基础设置</span>
                    </template>
                    <el-menu-item-group>
                        <el-menu-item index="1-1" @click="toEmployee">职工管理</el-menu-item>
                        <el-menu-item index="1-2" @click="toWarehouse">仓库管理</el-menu-item>
                        <el-menu-item index="1-3" @click="toProvider">供应商管理</el-menu-item>
                        <el-menu-item index="1-4" @click="toCustomer">客户管理</el-menu-item>
                    </el-menu-item-group>
                </el-submenu>
                <el-submenu index="2">
                    <template slot="title">
                        <i class="el-icon-s-goods"></i>
                        <span>库存管理</span>
                    </template>
                    <el-menu-item-group>
                        <el-menu-item index="2-1" @click="toRawMaterials">原料库</el-menu-item>
                        <el-menu-item index="2-2" @click="toProduct">成品库</el-menu-item>
                        <el-menu-item index="2-3" @click="toCheck">库存盘点</el-menu-item>
                    </el-menu-item-group>
                </el-submenu>
                <el-submenu index="3">
                    <template slot="title">
                        <i class="el-icon-s-order"></i>
                        <span>采购管理</span>
                    </template>
                    <el-menu-item-group>
                        <el-menu-item @click="toPurchase" index="3-1">采购单添加</el-menu-item>
                        <el-menu-item index="3-2" @click="toPurchaseOrders">采购单管理</el-menu-item>
                    </el-menu-item-group>
                </el-submenu>
                <el-submenu index="4">
                    <template slot="title">
                        <i class="el-icon-money"></i>
                        <span>销售管理</span>
                    </template>
                    <el-menu-item-group>
                        <el-menu-item @click="toSale" index="4-1">销售单添加</el-menu-item>
                        <el-menu-item index="4-2" @click="toSaleOrders">销售单管理</el-menu-item>
                    </el-menu-item-group>
                </el-submenu>
                <el-submenu index="5">
                    <template slot="title">
                        <i class="el-icon-user-solid"></i>
                        <span>系统管理</span>
                    </template>
                    <el-menu-item-group>
                        <el-menu-item @click="toRole" index="5-1">角色管理</el-menu-item>
                        <el-menu-item @click="toUser" index="5-2">用户管理</el-menu-item>
                    </el-menu-item-group>
                </el-submenu>
            </el-menu>
        </el-aside>
        <el-main style="padding: 0">
            <el-button type="primary" size="small" @click="openAddForm">新增</el-button>
            <!--新增弹窗-->
            <el-dialog title="新增客户" :visible.sync="AddFormVisible">
                <el-form :model="form">
                    <el-form-item label="客户编号" :label-width="formLabelWidth">
                        <el-input  v-model="form.cid" autocomplete="off"></el-input>
                    </el-form-item>
                    <el-form-item label="客户名" :label-width="formLabelWidth">
                        <el-input v-model="form.cname" autocomplete="off"></el-input>
                    </el-form-item>
                    <el-form-item label="联系人" :label-width="formLabelWidth">
                        <el-input v-model="form.linkman" autocomplete="off"></el-input>
                    </el-form-item>
                    <el-form-item label="联系电话" :label-width="formLabelWidth">
                        <el-input v-model="form.phonenum" autocomplete="off"></el-input>
                    </el-form-item>
                    <el-form-item label="地址" :label-width="formLabelWidth">
                        <el-input v-model="form.address" autocomplete="off"></el-input>
                    </el-form-item>
                    <el-form-item label="银行" :label-width="formLabelWidth">
                        <el-input v-model="form.bankname" autocomplete="off"></el-input>
                    </el-form-item>
                    <el-form-item label="银行账号" :label-width="formLabelWidth">
                        <el-input v-model="form.banknum" autocomplete="off"></el-input>
                    </el-form-item>
                </el-form>
                <div slot="footer" class="dialog-footer">
                    <el-button @click="AddFormVisible = false">取 消</el-button>
                    <el-button type="primary" @click="add">确 定</el-button>
                </div>
            </el-dialog>
            <!--修改弹窗-->
            <el-dialog title="修改客户信息" :visible.sync="UpdateFormVisible">
                <el-form :model="form">
                    <el-form-item label="客户编号" :label-width="formLabelWidth">
                        <el-input disabled v-model="form.cid"  autocomplete="off"></el-input>
                    </el-form-item>
                    <el-form-item label="客户名" :label-width="formLabelWidth">
                        <el-input v-model="form.cname" autocomplete="off"></el-input>
                    </el-form-item>
                    <el-form-item label="联系人" :label-width="formLabelWidth">
                        <el-input v-model="form.linkman" autocomplete="off"></el-input>
                    </el-form-item>
                    <el-form-item label="联系电话" :label-width="formLabelWidth">
                        <el-input v-model="form.phonenum" autocomplete="off"></el-input>
                    </el-form-item>
                    <el-form-item label="地址" :label-width="formLabelWidth">
                        <el-input v-model="form.address" autocomplete="off"></el-input>
                    </el-form-item>
                    <el-form-item label="银行" :label-width="formLabelWidth">
                        <el-input v-model="form.bankname" autocomplete="off"></el-input>
                    </el-form-item>
                    <el-form-item label="银行账号" :label-width="formLabelWidth">
                        <el-input v-model="form.banknum" autocomplete="off"></el-input>
                    </el-form-item>

                </el-form>
                <div slot="footer" class="dialog-footer">
                    <el-button @click="UpdateFormVisible = false">取 消</el-button>
                    <el-button type="primary" @click="update">确 定</el-button>
                </div>
            </el-dialog>
            <!-- 表格-->
            <el-table
                    :data="customerData"
                    border
                    style="width: 100%">
                <el-table-column
                        fixed
                        prop="cid"
                        label="客户编号"
                        width="150">
                </el-table-column>
                <el-table-column
                        prop="cname"
                        label="客户名"
                        width="150">
                </el-table-column>
                <el-table-column
                        prop="linkman"
                        label="联系人"
                        width="150">
                </el-table-column>
                <el-table-column
                        prop="phonenum"
                        label="联系电话"
                        width="150">
                </el-table-column>
                <el-table-column
                        prop="address"
                        label="地址"
                        width="150">
                </el-table-column>
                <el-table-column
                        prop="bankname"
                        label="银行"
                        width="150">
                </el-table-column>
                <el-table-column
                        prop="banknum"
                        label="银行账号"
                        width="150">
                </el-table-column>
                <el-table-column
                        label="操作"
                        width="150">
                    <template slot-scope="scope">
                        <el-button type="primary" icon="el-icon-edit" @click="openUpdateForm(scope.row)" size="small"
                                   circle></el-button>
                        <el-button type="danger" icon="el-icon-delete" @click="remove(scope.row)" size="small"
                                   circle></el-button>
                    </template>
                </el-table-column>
            </el-table>
        </el-main>
    </el-container>
</div>
</body>
<script type="text/javascript" src="../static/js/vue.js"></script>
<script type="text/javascript" src="../static/js/axios-0.18.0.js"></script>
<link rel="stylesheet" href="../static/element-ui/lib/theme-chalk/index.css">
<script src="../static/element-ui/lib/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            customerData: [],
            AddFormVisible: false,//弹框是否可见
            UpdateFormVisible: false,
            formLabelWidth: '85px',//弹框宽度
            form: {
                cid: '',
                cname: '',
                linkman: '',
                address: '',
                phonenum: '',
                bankname: '',
                banknum: '',
            }
        },
        created() {
            this.getAll();
        },
        methods: {
            //获取数据
            getAll() {
                axios.get("/customer/getAll").then((res) => {
                    this.customerData = res.data.data
                })
            },
            //打开更新弹窗
            openUpdateForm(row) {
                this.form = row
                this.UpdateFormVisible = true
            },
            //更新
            update() {
                axios.put("/customer/update", this.form).then((res) => {
                    if (res.data.flag) {
                        this.$message.success("修改成功")
                    } else {
                        this.$message.error("修改失败")
                    }
                    this.getAll()
                    this.UpdateFormVisible = false
                })
            },
            //删除
            remove(row) {
                this.$confirm("此操作将永久删除数据", "提示", {type: "info"}).then(() => {
                    axios.delete("/customer/delete/" + row.cid).then((res) => {
                        if (res.data.flag) {
                            this.$message.success("删除成功")
                        } else {
                            this.$message.error("删除失败")
                        }
                        this.getAll()
                    })
                })

            },
            //打开新增弹窗
            openAddForm() {
                this.AddFormVisible = true
            },
            //新增
            add() {
                axios.post("/customer/add", this.form).then((res) => {
                    console.log(this.form)
                    if (res.data.flag) {
                        this.$message.success("添加成功")
                    } else {
                        this.$message.error("添加失败")
                    }
                    this.getAll()
                    this.AddFormVisible = false
                })
            }
            ,
            //跳转
            toHomepage() {
                document.location = "http://localhost/toHomepage"
            },
            toPurchase() {
                document.location = "http://localhost/toPurchase"
            },
            toWarehouse() {
                document.location = "http://localhost/toWarehouse"
            },
            toProvider() {
                document.location = "http://localhost/toProvider"
            },
            toProduct() {
                document.location = "http://localhost/toProduct"
            },
            toPurchaseOrders() {
                document.location = "http://localhost/toPurchaseOrders"
            },
            toRawMaterials() {
                document.location = "http://localhost/toRawMaterials"
            },
            toEmployee() {
                document.location = "http://localhost/toEmployee"
            },
            toCustomer() {
                document.location = "http://localhost/toCustomer"
            },
            toCheck() {
                document.location = "http://localhost/toCheck"
            },
            toRole() {
                document.location = "http://localhost/toRole"
            },
            toUser() {
                document.location = "http://localhost/toUser"
            },
            toSale() {
                document.location = "http://localhost/toSale"
            },
            toSaleOrders() {
                document.location = "http://localhost/toSalesOrders"
            }

        }
    })
</script>
</html>